.projects-item{
    display: flex;
    align-items: flex-start;
    gap: 20px;
    font-family: 'Roboto';
    border: 1px solid #dedede;
    border-radius: 10px;
    padding: 20px;
    margin: 12px 0;
}

.projects-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.projects-title{
    font-size: 1.5rem;
    font-weight: 600;
}

.projects-desc{
    font-size: 1rem;
    font-weight: 400;
    color: grey;
}

.projects-logo{
    width: 100px;
    border-radius: 20px;
}

.projects-techstack{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

.projects-techstack-item{
    margin-right: 10px;
        margin-bottom: 10px;
        padding: 5px 10px;
        background-color: #F05454;
        color: white;
        border-radius: 5px;
}


/* Mobile responsiveness */


@media (max-width: 768px) {
    
    .projects-title{
        font-size: 1.2rem;
    }

    .projects-desc{
        font-size: 0.8rem;
    }


    .projects-logo{
        width: 70px;
    }

    .projects-techstack-item{
        margin-right: 5px;
            margin-bottom: 5px;
            padding: 5px 5px;
            font-size: 0.8rem;
    }

    
}